
<!--名前&メッセージ入力箇所-->


<%= form_for(@message, html: {class: "form-horizontal"}) do |f| %>



<!--ここからエラーメッセージ表示箇所-->

  <% if @message.errors.present? %>
    <div class="alert alert-danger">
      <%= alert %>
      <ul>
        <% @message.errors.full_messages.each do |full_message| %>
          <li>
            <%= full_message %>
          </li>
        <% end %> 
      </ul>
    </div>
  <% end %>


<!--ここまでエラーメッセージ表示箇所-->




<!--名前入力欄-->
  <div class="form-group">
    <label for="inputName" class="col-sm-4 control-label">名前</label>
    <div class="col-sm-4">

     <%= f.text_field :name, class:"form-control", id:"inputName", placeholder:"名前" %>

    </div>
    <div class="col-sm-4"></div>
    
  </div>


<!--内容入力欄-->
  <div class="form-group">
    <label for="inputMessage"  class="col-sm-4 control-label">メッセージ</label>
    <div class="col-sm-4">

    <%= f.text_area :body, class:"form-control", id:"inputMessage", placeholder:"メッセージを記入" %>

    </div>
    <div class="col-sm-4"></div>
   
  </div>


<!--送信ボタン-->
  <div class="form-group">
   <div class="col-sm-offset-8 col-sm-4">

   <%= f.submit "送信", class: "btm btm-sm btn-primary" %>

   </div>
  </div>


  
<% end %>
